/* GENERAL STYLES */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/roboto/roboto-v20-latin-regular.woff2") format("woff2"),
    url("./assets/roboto/roboto-v20-latin-regular.woff") format("woff");
}

html,
body,
body > div,
div#joplin-plugin-content {
  font-size: var(--joplin-font-size);
  height: 100%;
}
a {
  text-decoration: none;
}
span {
  cursor: default;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* HORIZONTAL LAYOUT */
#container {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
#container-inner {
  display: flex;
  float: left;
  width: 100%;
}

#favorite {
  align-items: center;
  display: flex;
}
#favorite .fas {
  margin-left: auto;
  margin-right: 0;
  padding: 2px;
  visibility: hidden;
}
#favorite:hover .fas {
  visibility: visible;
}
#favorite-inner {
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
  padding: 2px 6px;
  text-align: center;
  width: 100%;
}
#favorite:last-of-type > #favorite-inner {
  border-style: none;
}
#favorite-inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#favorite:hover,
#favorite-inner:hover,
.favorite-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

#controls {
  align-items: center;
  display: flex;
  float: right;
  padding: 0 5px;
  margin-left: auto;
  margin-right: 0;
}
#controls .fas {
  align-items: center;
  display: flex;
  font-size: 14.4px;
  height: 26px;
  justify-content: center;
  max-width: 26px;
  min-height: 26px;
  opacity: 0.8;
  width: 26px;
}
#controls .fas:hover {
  opacity: 1;
}

/* DRAG AND DROP */
[draggable="true"] {
  /* To prevent user selecting inside the drag source */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.dragging {
  opacity: 0.4;
}
.dragover {
  background-color: var(--joplin-background-color-hover3) !important;
}

/* VERCTICAL LAYOUT OVERWRITES */
@media screen and (max-width: 400px) {
  #container {
    overflow-x: hidden;
    overflow-y: auto;
  }

  #container-inner {
    display: block;
    width: 100%;
  }

  #favorite {
    border-right-width: 0;
    border-bottom-width: 1px;
    max-width: 100% !important;
  }
}
