/* GENERAL STYLES */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/roboto/roboto-v20-latin-regular.woff2") format("woff2"),
    url("./assets/roboto/roboto-v20-latin-regular.woff") format("woff");
}

html,
body,
body > div,
div#joplin-plugin-content {
  height: 100%;
}
a {
  text-decoration: none;
}
span {
  overflow: hidden;
  padding: 3px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fas {
  overflow: initial;
}

/* HORIZONTAL LAYOUT */
#container {
  display: flex;
  height: 100%;
  width: 100%;
}

#panel-title {
  align-items: center;
  display: flex;
  padding: 0 5px;
}

#favs-container {
  display: flex;
  float: left;
  overflow-x: overlay;
  overflow-y: overlay;
  width: 100%;
}
#favs-container:empty {
  min-width: 100%;
}
#favorite {
  align-items: center;
  border-style: solid;
  border-width: 0;
  display: flex;
}
.favorite-inner {
  border-width: 0;
  border-right-width: 1px;
  border-style: solid;
  padding: 0 3px;
  width: 100%;
}
#favorite:last-of-type > .favorite-inner {
  border-style: none;
}

.title:focus {
  font-weight: bold;
  /* padding: 8px; */
  border: none !important;
}

/* DRAG AND DROP */
[draggable="true"] {
  /* To prevent user selecting inside the drag source */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
  height: 4px;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* VERCTICAL LAYOUT OVERWRITES */
@media screen and (max-width: 400px) {
  #container {
    display: block;
  }

  #panel-title {
    padding-left: 12px;
  }

  #favs-container {
    display: block;
    height: 100% !important;
    width: 100%;
  }
  #favs-container:empty {
    min-height: 100% !important;
  }
  #favorite {
    border-bottom-width: 1px;
    max-width: 100% !important;
  }
  .favorite-inner {
    border-right-width: 0;
    padding-left: 24px;
    text-align: left;
  }
}
