/* GENERAL STYLES */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/roboto/roboto-v20-latin-regular.woff2") format("woff2"),
    url("./assets/roboto/roboto-v20-latin-regular.woff") format("woff");
}

html,
body,
body > div,
div#joplin-plugin-content {
  font-size: var(--joplin-font-size);
  height: 100%;
}
a {
  text-decoration: none;
}
span {
  overflow: hidden;
  padding: 2px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fas {
  overflow: initial;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* HORIZONTAL LAYOUT */
#container {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
#container-inner {
  display: flex;
  float: left;
  width: 100%;
}

#panel-title {
  align-items: center;
  display: flex;
}

#favorite {
  align-items: center;
  display: flex;
}
#favorite:hover {
  background-color: var(--joplin-background-color-hover3) !important;
  cursor: pointer;
}
#favorite > .title {
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
}
#favorite:last-of-type > .title {
  border-style: none;
}

/* DRAG AND DROP */
[draggable="true"] {
  /* To prevent user selecting inside the drag source */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.dragging {
  opacity: 0.4;
}
.dragover {
  background-color: var(--joplin-background-color-hover3) !important;
}

/* VERCTICAL LAYOUT OVERWRITES */
@media screen and (max-width: 400px) {
  #container {
    overflow-x: hidden;
    overflow-y: auto;
  }

  #container-inner {
    display: block;
    width: 100%;
  }

  #favorite {
    border-right-width: 0;
    border-bottom-width: 1px;
    max-width: 100% !important;
  }
}
